streamlit
spacy==3.5.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
requests
pyttsx3
transformers
rapidfuzz
googletrans==4.0.0-rc1
numpy==1.26.0
thinc==8.1.7
torch==1.12.1
